#blog article {
	border-bottom: solid 1px #CCC;
	margin: 1em;
	overflow: auto;
}

article div {
	overflow: hidden;
}
article div img {
	border-radius: 5px;
	width: 10%;
	float: left;
}

hgroup h2 {
	font-family: 'OrbitronBold';
	margin-top: 0;
}
hgroup h4, hgroup h3 {
	margin: 0 .2em;
}
article hgroup {
	margin: 0 25px 0 11%;
	text-align: left;
}

.comment {
	background: image-url("08-chat.png") no-repeat top center;
	color: #FFF;
	float: right;
	font-size: .9em;
	height: 22px;
	text-align: center;
	width: 24px;
}

.read {
    margin -.6em 0 2.5em 0
    float right
    background $color-action
}
.read:hover {
    background darken($color-action, 10)
}
