.col-4
    display inline-block
    width 24%
    margin .5em .5%
    vertical-align top

@import "figure"
@import "blog"
@import "contact"

@media (max-width:1024px)
    @import "tablets"

@media(max-width:540px)
    @import "smartphones"