#main-footer
	color #FFF
	background image-url("logo-blanco.png") no-repeat left 1em center
	padding 1em
	margin-top 1em
	text-align center
	width 90%
	position relative
	span
		font-size .9em
	.social
		position: absolute;
		bottom: 1em;
		right: 15px;
		font-size: .8em;
		a
			color: #FFF
			padding: 0 5px
			i
				font-size: 1.5em;
			&:hover
			&:hover:before
				color: #57ABB8