#main-header
    width 100%
    margin 0
    nav
        a
            border-radius 5px
            margin-bottom .2em
            background image-url("77-ekg.png") #05232E no-repeat 10px
            &.portfolio
                background-image image-url("37-suitcase.png")
            &.labs
                background-image image-url("91-beaker-2.png")
            &.contact
                background-image image-url("18-envelope.png")
    .search
        text-align center
        padding 5px 0 0 0
        input[type="text"]
            width 40%
            &:focus
                width 70%
    li
        display block
        margin-top 2px
        width 95%
    .logo
            margin: 10px 0

#main-footer
    background-image none
    div
        margin .3em 0
    .social
        position static